.contact-us-heading{
    text-align: center;
    padding: 12px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 13px;
}

label{
    margin: 10px;
}

input,textarea{
    border: 2px solid black;
    padding: 10px;
    width: 450px;
    margin: 10px;
}

.submit-btn{
    border: 2px solid black;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    outline: none;
    width: 100%;
    max-width: 250px;
}

.submit-btn:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width:767px){
    input,textarea{
        width: 200px;
    }
}